/* -----------------------------------------------------
  Media Query Exemplos
  -----------------------------------------------------

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}
*/   


/*-----------------------------------------------------
Fontes
-----------------------------------------------------*/
.texto-maven {font-family: 'Maven Pro', sans-serif;}
.texto-openSans {font-family: 'Open Sans', sans-serif;}

.azul-texto {color:#005282}
.branco-texto {color:#fff}

/*-----------------------------------------------------
	Tamanho dos textos
  -----------------------------------------------------*/  

  @tamanhoBase:62.5%; /*Tamanho base para os textos em (em), deve ser atribuído ao body do HTML.
  Isso faz que 1em seja equivalente a 10px. Para transformar basta contar
  uma casa para esquerda e colocar um ponto (.). Para textos de 14px
  ficaria 1.4em para 36px ficaria 3.6em
  ----------------------------------------------------------------------*/

html,
body {
    font-size: @tamanhoBase;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

a {text-decoration: none;}

p {.texto-openSans;.azul-texto;font-size: 2em;}
/*main {padding: 20px;}*/

.tempoDeTransicao (@tempo: 1s) {
    -webkit-transition: @tempo ease-in-out;
    -moz-transition: @tempo ease-in-out;
    -o-transition: @tempo ease-in-out;
    transition: @tempo ease-in-out;
}
main {
	//overflow: hidden;
	//overflow-x: hidden;
}

@import url("_styleHambComponente.css");
@import url("_styleMenu.less");
@import url("_styleBannerPrincipal.less");
@import url("_styleExperticeMundial.less");
@import url("_stylePortifolioParaOMundo.less");
@import url("_styleSolucoesHome.less");
@import url("_styleClientesHome.less");
@import url("_styleCarrosselProjetosHome.less");
@import url("_styleSectionsDeContatos.less");
@import url("_styleFooter.less");
@import url("_styleOuvidoria.less");





/*-----------------------------------------------
	Topos internos
-----------------------------------------------*/
#topos-internos {
	width: 100%;
	height: 274px;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.topo-a-babcock {
	background: url(../images/topos/a-babcock.jpg) no-repeat top center; 
}
.topo-a-onde-fazemos {
	background: url(../images/topos/onde-fazemos.jpg) no-repeat top center; 
}
.topo-o-que-fazemos {
	background: url(../images/topos/oque-fazemos.jpg) no-repeat top center; 
}
.topo-manutencao-auto-sustentada {
	background: url(../images/topos/manutencao-auto-sustentada.jpg) no-repeat top center;
}
.topo-manutencao-classe-mundial {
	background: url(../images/topos/manutencao-classe-mundial.jpg) no-repeat top center;
}
.topo-solucoes-em-engenharia-complexa {
	background: url(../images/topos/solucoes-em-engenharia-complexa.jpg) no-repeat top center;
}
.topo-como-fazemos {
	background: url(../images/topos/como-fazemos.jpg) no-repeat top center;
}
.topo-novidades {
	background: url(../images/topos/novidades.jpg) no-repeat top center;
}
.topo-fale-conosco {
	background: url(../images/topos/fale-conosco.jpg) no-repeat top center;
}

.features {
	background: #eeeeee;
	position: relative;
	z-index: 2;
}

@media only screen and (min-width: 320px) {
	.features .col-1 {
		background: #004094;
		display: block;
		width: 100%;
		margin: 0 0 0 0;	
		padding:40px;
		//position: relative;
	}
	.features .col-1 h1 {
		//position: absolute;
		right: 40px;
		bottom: 20px;
		.texto-maven;
		font-size: 6.5em;
		color:#fff;
		text-align: left;
	}
	.features ul {
		display: block;
		width: 100%;
		margin:0;
		padding:0;
		list-style: none;
	}
	.features ul li {
		display: block;
		padding:30px 36px;
	}
	
	.features ul li:nth-child(2) {
		background: #fff;
	}
}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {
	
	.features ul {
		display: table;
		width: 100%;
		height:235px;
		table-layout: fixed;
		border-spacing: 0;
		margin:0;
		padding:0;
		list-style: none;
	}
	.features ul li {
		display: table-cell;
		vertical-align: bottom;
		padding:30px 36px;
	}
	.features ul li:nth-child(1) {
		padding-left:0;
	}
	.features ul li:nth-child(2) {
		background: #fff;
		-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.45);
		-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.45);
		box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.45);
	}
} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {
	.features .col-1 {
		background: #004094;
		display: block;
		width: 90%;
		height:255px;
		margin:-20px 0 0 0;	
		position: relative;
	}
	.features .col-1 h1 {
		position: absolute;
		right: 40px;
		bottom: 20px;
		.texto-maven;
		font-size: 6.5em;
		color:#fff;
		text-align: right;
	}
}
@media only screen and (min-width: 1382px) {}
