/* -----------------------------------------------------
  Media Query Exemplos
  -----------------------------------------------------

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}
*/   


/*-----------------------------------------------------
Fontes
-----------------------------------------------------*/
.texto-maven {font-family: 'Maven Pro', sans-serif;}
.texto-openSans {font-family: 'Open Sans', sans-serif;}

.azul-texto {color:#005282}
.branco-texto {color:#fff}

/*-----------------------------------------------------
	Tamanho dos textos
  -----------------------------------------------------*/  

  @tamanhoBase:62.5%; /*Tamanho base para os textos em (em), deve ser atribuído ao body do HTML.
  Isso faz que 1em seja equivalente a 10px. Para transformar basta contar
  uma casa para esquerda e colocar um ponto (.). Para textos de 14px
  ficaria 1.4em para 36px ficaria 3.6em
  ----------------------------------------------------------------------*/

html,
body {
    font-size: @tamanhoBase;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

a {text-decoration: none;}

p {.texto-openSans;.azul-texto;font-size: 2em;}
/*main {padding: 20px;}*/

.tempoDeTransicao (@tempo: 1s) {
    -webkit-transition: @tempo ease-in-out;
    -moz-transition: @tempo ease-in-out;
    -o-transition: @tempo ease-in-out;
    transition: @tempo ease-in-out;
}
main {
	//overflow: hidden;
	//overflow-x: hidden;
}

@import url("_styleHambComponente.css");
@import url("_styleMenu.less");
@import url("_styleBannerPrincipal.less");
@import url("_styleExperticeMundial.less");
@import url("_stylePortifolioParaOMundo.less");
@import url("_styleSolucoesHome.less");
@import url("_styleClientesHome.less");
@import url("_styleCarrosselProjetosHome.less");
@import url("_styleSectionsDeContatos.less");
@import url("_styleFooter.less");






/*-----------------------------------------------
	Ouvidoria
-----------------------------------------------*/

section#ouvidoria {
	padding: 50px 0;
	background: #e61f83;
}
section#ouvidoria h4 {
	font-size: 2em;
	color: #fff;
	.texto-maven;
}
section#ouvidoria h4 span,
section#ouvidoria h4 strong {
	color: #ffc600;
	font-size: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}
section#ouvidoria h4 a {
	margin: 0 0 0 10px;
	color: #fff;
	text-decoration: underline;
}

section#frmOuvidoria {
	padding: 50px 0;
	background: #eb609e;
}
section#frmOuvidoria .radio-inline {
	.texto-maven;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	vertical-align: middle;
}
section#frmOuvidoria .radio-inline input {
	width: 17px; height: 17px;
}



/*-----------------------------------------------
	Ouvidoria //
-----------------------------------------------*/